

.body{
position:absolute;
top: 60%;
right: 25%;
transform: translate(-50%, -50%);
background-color: #fff;
max-width: 600px;
padding: 25px;
}
h2{
   text-align: center;
   margin-bottom: 20px;
}
.content{
   margin-bottom: 25px;
}
p{
   color: darkgreen;
   font-weight: 600;
   span{
      color: maroon;
   }
}
button{
   display: block;
   margin: 0 auto;
   background-color: #ccc;
   border: black;
   border-radius: 5%;
   width: fit-content;
   color: rgb(1, 1, 1);
   font-weight: 600;
   font-size: 25px;
   cursor: pointer;
   }
